# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data sensible (nunca subir datos reales)
data/raw/*.csv
data/processed/*.csv

# Power BI temporal
*.pbix.bak

# VSC
.vscode/settings.json
